{% extends 'sendmail/base.html' %}

{% block content %}
<div class="col-6">
    <div class="row">
        <h2> Пользователи сервиса </h2>
        {% for object in object_list %}
            <form class="row" method="post">
                <div class="col-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="my-1 font-weight-normal">Пользователь: {{ object.email }}</h5>
                        </div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Сохранить</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}